{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
    Datos de citas de taller
{% endblock %}
{% block topTitle %}
    Datos de citas de taller
{% endblock %}
{% block content %}
    <div class="row">
        <form action="" class="needs-validation w-100" novalidate>
            <h4>Fecha en que se creo/agendo la cita</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaInicioInput">Fecha inicio</label>
                        <input type="date" class="form-control appform" id="fechaInicioInput" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="fechaFinInput">Fecha fin</label>
                        <input type="date" class="form-control appform" id="fechaFinInput" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="selectTypeDate">Example select</label>
                        <select class="form-control" id="selectTypeDate">
                        <option value=1>Fecha de la cita</option>
                        <option value=2>Fecha en que se creo/agendo la cita</option>
                        </select>
                    </div>
                </div>

            </div>
            
            <div class="row">
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label for='agentInput'>Agente</label>
                        <select class='form-control appform' id='agentInput'>
                            <option value="">Sin asignar</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class="col">
                    <div class='form-group'>
                        <button type="button" class="btn btn-primary" id="filterButton">Filtrar citas</button>
                        <button type="button" class="btn btn-primary" id="downloadButton">Descargar citas</button>
                        <button type="button" class="btn btn-primary" id="downloadFailsButton">Descargar fallidas</button>
                        <button type="button" class="btn btn-primary" id="reCallButton">Volver a llamar fallidas</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="listing" class="table table-striped table-bordered w-100" style="width:100%">
                <thead>
                    <tr>
                        <td>Cedula</td>
                        <td>Placa</td>
                        <td>Sede</td>
                        <td>Nombre cliente</td>
                        <td>Asesor</td>
                        <td>Fecha y hora</td>
                        <td>Telefonos</td>
                        <td>Correo</td>
                        <td>Opciones</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row" id="answerChartContainer">

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="cautionModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Atención</h5>
                </div>
                <div class="modal-body">
                    <span id="messageModal">¿Esta seguro de que quiere eliminar el formulario con id</span> <i id="idi"></i>?
                    <div class="form-group">
                        <label for="motivoInput">Motivo</label>
                        <input type="text" class="form-control appform" id="motivoInput" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_button">Si</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script src='{% static "maingui/js/app/FormFunctions.js" %}'></script>
    <script src="{% static 'maingui/js/app/StandardCrud.js' %}"></script> 
    <script src="{% static 'maingui/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'maingui/vendor/bootsrap-select/bootstrap-select.min.js' %}"></script>
    
    <script>
        var listing_url = "{% url 'listing_campaign' %}";
        var data_chart_campaign_url = "{% url 'data_chart_campaign' %}";
        var get_agent_url = "{% url 'get_agent' user_id=0 %}";
        var pircker_search_agent_url = "{% url 'picker_search_agent' %}";
        var download_consolidaciones_url = "{% url 'download_consolidaciones' agent='0' start_date='abc' end_date='def' date_type='123' %}"
        var download_fails_url = "{% url 'download_fails' start_date='abc' end_date='def' %}"
        var fail_prepare_url = "{% url 'fail_prepare' %}"
        var listing_citas_taller_url = "{% url 'listing_citas_taller' %}"
        var cancel_cita_url = "{% url 'cancel_cita' %}"
        
        get_agent_url = get_agent_url.slice(0, -1);

    </script>
    <script src="{% static 'consolidacion/js/app/datos_consolidacion.js' %}"></script>
{% endblock %}
