<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Pagína Principal{% endblock %}</title>
    {% load static %}
    {% include "maingui/cssload.html" %}
    {% include "maingui/jscriptload.html" %}
    <!-- Bootstrap core JavaScript-->

</head>

<body>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 border">
                        <h3>Nombre</h3>
                    </div>
                    <div class="col-6 border">
                        <h3>Hora de la cita</h3>
                    </div>
                </div>
                <div id="turnosContainer">
                    {% for cita in citas_tall %}
                    <div class="row">
                        <div class="col-6 border">
                            <h3>{{cita.fecha_hora_ini}}</h3>
                        </div>
                        <div class="col-6 border">
                            <h3>{{cita.nombre_cliente}}</h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</body>

<script src="{% static 'maingui/vendor/bootsrap-select/bootstrap-select.min.js' %}"></script>
<script src='{% static "maingui/js/app/FormFunctions.js" %}'></script>
<script src="{% static 'maingui/js/app/StandardCrud.js' %}"></script> 
<script>
    var get_closest_turns_url = "{% url 'get_closest_turns' %}";
</script>
<script src="{% static 'consolidacion/js/app/turnero.js' %}"></script>

