{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
Opciones de consola de agente
{% endblock %}

{% block topTitle %}
Opciones de consola de agente
{% endblock %}

{% block content %}
<div class="row">
    <form action="" class="needs-validation w-100" novalidate>
    <div class="col-md-12">
        <div class="row">
            <!--
            <div class="col-md-6">
                <div class="form-group">
                    <label for="CRM_URLInput">Url de redirección</label>
                    <input type="text" class="form-control appform" id="CRM_URLInput" required>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for='CAMPAIGN_CONSOLIDACIONInput'>Campaña de salida consolidación</label>
                    <select class='form-control appform' id='CAMPAIGN_CONSOLIDACIONInput'>
                        <option value="">Escoja una opción</option>
                    </select>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group'>
                    <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
                </div>
            </div>
        </div>
      
    </div>
    </form>
</div>

<hr>
<div class="row">
    <div class='col-md-3'>
        <div class='form-group'>
            <button type="button" class="btn btn-primary" id="generateButton">Generar Usuarios</button>
        </div>
    </div>
    <div class='col-md-3'>
        <div class='form-group'>
            <button type="button" class="btn btn-primary" id="callsConsolidacionButton">Generar llamadas</button>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Unos segundos por favor</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert" id="modalMessage">
                    Guardado con exito!
                </div>
            </div>
            <div class="modal-footer">
                Redirigiendo...
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <label>Lista de Recesos</label>
        <table id="t_breaks" class="table table-striped table-bordered w-100" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tiempo Permitido</th>
                </tr>
            </thead>
            <tbody>
                  {% for break1 in b_break %}
                  <tr>
                    <td>{{ break1.id }}</td>
                    <td>{{ break1.name }}</td>
                    <td>{{ break1.description }}</td>
                    <td><input type="number" class="form-control" id="{{ break1.id }}"></td>
                  </tr>
                  {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class='row'>
    <div class='col-md-6'>
        <div class='form-group'>
            <button type="button" class="btn btn-primary" id="saveButton_b">Guardar</button>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'maingui/vendor/bootsrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'maingui/js/app/StandardCrud.js' %}"></script>
<script src="{% static 'maingui/js/app/FormFunctions.js' %}"></script>
<script>
    replace_options_agent_console_url = "{% url 'replace_options_agent_console' %}";
    get_options_agent_console_url = "{% url 'get_options_agent_console' %}";
    auto_generate_users_url = "{% url 'auto_generate_users' %}";
    create_calls_asterisk_url = "{% url 'create_calls_asterisk' %}";
    picker_search_campaign_url = "{% url 'picker_search_campaign' %}";
    add_break = "{% url 'add_break2' %}";
    get_campaign_url = "{% url 'get_campaign' campaign_id=0 %}";
    get_campaign_url = get_campaign_url.slice(0, -1);
    
</script>
<script src="{% static 'agent_console/js/app/options_form.js' %}"></script>

{% endblock %}