{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
Citas
{% endblock %}

{% block topTitle %}
Citas
{% endblock %}
{% block content %}
<div class="row">
    <form action="" class="needs-validation w-100" novalidate>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nameInput">Cedula cliente</label>
                    <input type="text" class="form-control appform" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nameInput">Placa vehiculo</label>
                    <input type="text" class="form-control appform" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nameInput">Fecha</label>
                    <input type="date" class="form-control appform" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Motivos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group'>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cautionModal">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
    </form>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="cautionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Atención</h5>
            </div>
            <div class="modal-body">
                    ¿Programar una cita para el cliente PRADA MOYA IVONNE ANDREA? 
                    <br>
                    Placa: IPZ286
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_button">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Unos segundos por favor</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert" id="modalMessage">
                    Guardado con exito!
                </div>
            </div>
            <div class="modal-footer">
                Redirigiendo...
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block javascript %}

{% block additional_javascript %}

{% endblock additional_javascript %}

{% endblock javascript %}


    
