{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
{{ action }} formulario
{% endblock %}

{% block topTitle %}
{{ action }} formulario
{% endblock %}

{% block css %}
    <link href="{% static 'form_creator/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <form action="" class="needs-validation w-100" novalidate>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nameInput">Nombre del formulario</label>
                    <input type="text" class="form-control appform" id="nameInput" required>
                    <div class="valid-feedback" id='nameValid'>Valid.</div>
                    <div class="invalid-feedback" id = 'nameInvalid'>Please fill out this field.</div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <div class='form-group'>
                    <button type="button" class="btn btn-primary" id="nextButton">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="col-md-12">
        <div class="row">
            <div class="card w-100">
                <div class="card-header">
                    Preguntas
                </div>
                <div class="card-body" id="questionsContainer">

                </div>

                
            </div>
            <div class="row">
                <div class="col-12 pt-3">
                    <button type="button" class="btn btn-primary" id="addQuetionButton" onclick="addFieldsNewQuestion()" disabled>
                        Agregar pregunta
                    </button>
                    <a class="save-all rounded rounded" id="saveAllButton" href="#">
                        <i class="fas fa-save"></i> Guardar todo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="cautionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="modalBodyDelete">
                <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Atención</h5>
                </div>
                <div class="modal-body">
                        ¿Esta seguro de que quiere eliminar esta pregunta? 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_button">Si</button>
                </div>
            </div>
            <div id="modalBodyGuardar">
                <div class='alert alert-success' role='alert' id='modalMessage'>
                    Guardado con exito! Redirigiendo...
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block javascript %}
<script src="{% static 'maingui/js/app/FormFunctions.js' %}"></script>
<script src="{% static 'maingui/vendor/bootsrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'form_creator/js/app/questions_gui.js' %}"></script>
<script src="{% static 'maingui/js/app/StandardCrud.js' %}"></script>
<script src="{% static 'form_creator/js/app/questions_linked_list.js' %}"></script>
<script src="{% static 'form_creator/js/app/questions_form.js' %}"></script>
<script src="{% static 'form_creator/js/app/answer_gui.js' %}"></script>
<script src="{% static 'form_creator/js/app/answers_form.js' %}"></script>
<script src="{% static 'form_creator/js/app/form.js' %}"></script>

<script>
    id = {{ id }};
    listing_url = "{% url 'listing_form' %}";
    add_url = "{% url 'add_form' %}";
    get_url = "{% url 'get_form' form_id=0 %}";
    get_questions_form_url = "{% url 'get_questions_form' form_id=0 %}";
    replace_url = "{% url 'replace_form' form_id=0 %}";
    add_question_url = "{% url 'add_question' %}";
    replace_question_url = "{% url 'replace_question'  question_id=0 %}";
    delete_question_url = "{% url 'delete_question' question_id=0 %}";
    change_question_position_url = "{% url 'change_question_position' %}";
    add_answer_url = "{% url 'add_answer' %}";
    replace_answer_url = "{% url 'replace_answer' answer_id=0 %}";
    delete_answer_url = "{% url 'delete_answer' answer_id=0 %}";
    save_all_url = "{% url 'save_all' %}";

    get_url = get_url.slice(0, -1);
    replace_url = replace_url.slice(0, -1);
    get_questions_form_url = get_questions_form_url.slice(0, -1);
    replace_question_url = replace_question_url.slice(0, -1);
    delete_answer_url = delete_answer_url.slice(0, -1);
    delete_question_url = delete_question_url.slice(0, -1);
</script>
{% endblock javascript %}
{% block additional_javascript %}

{% endblock additional_javascript %}

    
