<html>
    <body>
        <div style="padding:10px;background:#303030">
            <table width="550" cellspacing="0" cellpadding="0" border="0" align="center">
               <tbody>
                  <tr>
                     <td style="background:#ffffff">
                        <a href="http://www.renaultcali.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.renaultcali.com&amp;source=gmail&amp;ust=1596725198941000&amp;usg=AFQjCNGdVR3hOgiVHvzfr1ZFbuukUTkiiw">
                        <img src="https://ci6.googleusercontent.com/proxy/E8EQf-uQSy9IkSclkyohck74g_uM6xmQRXKxs8VASVxB9ydx3IynwQxuEOWi3YlWWMMHyIIttal8WfOytdMwQn7gO6t6xbq5lglwNrjK3NdE=s0-d-e1-ft#http://www.renaultcali.com/v2_base/add-ons/citas/cabecera1.jpg" class="CToWUd" border="0">
                        </a>
                     </td>
                  </tr>
                  <tr>
                     <td style="background:#ffffff">
                        <table style="border-bottom:#cccccc solid 1px" width="100%" cellspacing="20" cellpadding="0" border="0">
                           <tbody>
                              <tr>
                                 <td valign="top">
                                    <table style="border-bottom:#cccccc solid 1px" width="100%" cellspacing="3" cellpadding="0" border="0">
                                       <tbody>
                                          <tr>
                                             <td colspan="2">
                                                Estimado cliente su vehículo de placas {{placa}}, será atendido por {{asesor}}, el día {{fecha}} a las {{hora}}, En nuestro taller sede {{sede}} ({{direccion}}) para la intervención: {{motivo}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                &nbsp;
                                             </td>
                                             <td>
                                                &nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td colspan="2">
                                                <b>
                                                Datos de la reserva </b>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Servicio solicitado:
                                             </td>
                                             <td>
                                                {{motivo}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Sede:
                                             </td>
                                             <td>
                                                {{sede}} {{direccion}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Fecha de solicitud: 
                                             </td>
                                             <td>
                                                {{fecha_solicitud}} (año-mes-día)
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Fecha solicitada para la cita: 
                                             </td>
                                             <td>
                                                {{fecha}} (año-mes-día)
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Hora solicitada para la cita: 
                                             </td>
                                             <td>
                                                {{hora}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Persona que recibe el vehículo: 
                                             </td>
                                             <td>
                                                {{asesor}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                &nbsp;
                                             </td>
                                             <td>
                                                &nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td colspan="2">
                                                <b>
                                                Datos ingresado durante la reserva </b>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Nombre completo: 
                                             </td>
                                             <td>
                                                {{nombre}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Placa:
                                             </td>
                                             <td>
                                                {{placa}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Dirección:
                                             </td>
                                             <td>
                                                {{direccion_cliente}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                E-mail:
                                             </td>
                                             <td>
                                                <a href="{{correo}}" target="_blank">{{correo}}</a>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Telelfonos:
                                             </td>
                                             <td>{{telefonos}}</td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Observaciones:
                                             </td>
                                             <td>
                                                {{motivo}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                &nbsp;
                                             </td>
                                             <td>
                                                &nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td colspan="2">
                                                <b>
                                                   Estimado cliente el concesionario caribe tiene los siguientes protocolos
                                                    de bioseguridad según la circular del decreto 0666 del 2020 por medio 
                                                    de la cual se adopta el protocolo general de bioseguridad para mitigar ,
                                                    controlar y realizar el adecuado manejo de la pandemia del Coronavirus 
                                                    Covid-19 para poder ingresar al concesionario CARIBE SAS
                                                   por favor ingresar el día de la cita al concesionario con tapabocas, 
                                                   no dejar ningún objeto personal dentro del vehículo, envié una foto de
                                                    los documentos de su vehículo (tarjeta de propiedad), al siguiente 
                                                    correo servicioalcliente6@caribecali.com, con la finalidad de tener 
                                                    los dosier listos antes de abrir la orden de servicio, en caso de que
                                                     no se envié, por favor traer los documentos incluida la llave del 
                                                     vehículo en una bolsa plástica, le pedimos por su seguridad traer 
                                                     un bolígrafo para firmar la orden de trabajo y documentos de su 
                                                     vehículo en la recepción.
                                                   Le queremos recordar que su vehículo tendrá todos los objetos de 
                                                   seguridad para el cuidado y será desinfectado al inicio como al 
                                                   final del servicio del taller del concesionario caribe sas
                                                   Estimado cliente para su cuidado y el de nuestro equipo de trabajo, 
                                                   solo puede ingresar una sola persona tanto al ingreso como al retiro 
                                                   del vehículo. En la entrada del taller encontrara un tapete para la 
                                                   desafección de sus zapatos, y un lavamanos para la desafección de sus manos, 
                                                   estará una persona que tome la temperatura y sus datos para colocarlos
                                                    en seguimiento según nuestro protocolo de bioseguridad, en la entrada del 
                                                    taller encontrara una demarcación de forma cuadrada para que estacione 
                                                    su vehículo sobre ese espacio para que el asesor de servicio le reciba 
                                                    su vehículo e inicie el respectivo ingreso con todo el protocolo de seguridad.
                                                   
                                                   Estimado Cliente le informamos que la cita asignada es para la recepción de 
                                                   su vehículo, con la cual esperamos que todo el equipo de Caribe, pueda cumplirla
                                                    puntualmente. El tiempo de la intervención de su vehículo, fecha, hora de entrega 
                                                    y valor final del servicio será concertado con el Asesor de Servicio al momento
                                                   de la recepción.
                                                   
                                                   El concesionario caribe siempre pensando en tu seguridad y la de tu familia, 
                                                   caribe toda una vida contigo.</b>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <img src="https://ci5.googleusercontent.com/proxy/9wypX30lqbs__WQFOVeuiS6d2TDK9MV-nAvra-rp6oywpLTEaMp7Jsq5G_aJ3oJB0IPFVBeWjMglfHIvF0NR3XXzHkPoI8115JL3Yi8=s0-d-e1-ft#http://www.renaultcali.com/v2_base/add-ons/citas/pata1.jpg" class="CToWUd" border="0">
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
         </div>
    </body>
</html>