<html>
    <body>
        <div style="padding:10px;background:#303030">
            <table width="550" cellspacing="0" cellpadding="0" border="0" align="center">
               <tbody>
                  <tr>
                     <td style="background:#ffffff">
                        <a href="http://www.renaultcali.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.renaultcali.com&amp;source=gmail&amp;ust=1596725198941000&amp;usg=AFQjCNGdVR3hOgiVHvzfr1ZFbuukUTkiiw">
                        <img src="https://ci6.googleusercontent.com/proxy/E8EQf-uQSy9IkSclkyohck74g_uM6xmQRXKxs8VASVxB9ydx3IynwQxuEOWi3YlWWMMHyIIttal8WfOytdMwQn7gO6t6xbq5lglwNrjK3NdE=s0-d-e1-ft#http://www.renaultcali.com/v2_base/add-ons/citas/cabecera1.jpg" class="CToWUd" border="0">
                        </a>
                     </td>
                  </tr>
                  <tr>
                     <td style="background:#ffffff">
                        <table style="border-bottom:#cccccc solid 1px" width="100%" cellspacing="20" cellpadding="0" border="0">
                           <tbody>
                              <tr>
                                 <td valign="top">
                                    <table style="border-bottom:#cccccc solid 1px" width="100%" cellspacing="3" cellpadding="0" border="0">
                                       <tbody>
                                          <tr>
                                             <td colspan="2">
                                                Estimado cliente su vehículo de placas {{placa}}, será atendido por {{asesor}}, el día {{fecha}} a las {{hora}}, En nuestro taller sede {{sede}} ({{direccion}}) para la intervención: {{motivo}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                &nbsp;
                                             </td>
                                             <td>
                                                &nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td colspan="2">
                                                <b>
                                                Datos de la reserva </b>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Servicio solicitado:
                                             </td>
                                             <td>
                                                {{motivo}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Sede:
                                             </td>
                                             <td>
                                                {{sede}} {{direccion}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Fecha de solicitud: 
                                             </td>
                                             <td>
                                                {{fecha_solicitud}} (año-mes-día)
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Fecha solicitada para la cita: 
                                             </td>
                                             <td>
                                                {{fecha}} (año-mes-día)
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Hora solicitada para la cita: 
                                             </td>
                                             <td>
                                                {{hora}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Persona que recibe el vehículo: 
                                             </td>
                                             <td>
                                                {{asesor}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                &nbsp;
                                             </td>
                                             <td>
                                                &nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td colspan="2">
                                                <b>
                                                Datos ingresado durante la reserva </b>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Nombre completo: 
                                             </td>
                                             <td>
                                                {{nombre}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Placa:
                                             </td>
                                             <td>
                                                {{placa}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Dirección:
                                             </td>
                                             <td>
                                                {{direccion_cliente}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                E-mail:
                                             </td>
                                             <td>
                                                <a href="{{correo}}" target="_blank">{{correo}}</a>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Telelfonos:
                                             </td>
                                             <td>{{telefonos}}</td>
                                          </tr>
                                          <tr>
                                             <td>
                                                Observaciones:
                                             </td>
                                             <td>
                                                {{motivo}}
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                &nbsp;
                                             </td>
                                             <td>
                                                &nbsp;
                                             </td>
                                          </tr>
                                          <tr>
                                             <td colspan="2">
                                                <b>
                                                Estimado Cliente le informamos que la cita asignada es para la recepción de su vehículo, con la cual esperamos que todo el equipo de Caribe, pueda cumplirla puntualmente. El tiempo de la intervención de su vehículo, fecha, hora de entrega y valor final del servicio será concertado con el Asesor de Servicio al momento de la recepción.</b>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <img src="https://ci5.googleusercontent.com/proxy/9wypX30lqbs__WQFOVeuiS6d2TDK9MV-nAvra-rp6oywpLTEaMp7Jsq5G_aJ3oJB0IPFVBeWjMglfHIvF0NR3XXzHkPoI8115JL3Yi8=s0-d-e1-ft#http://www.renaultcali.com/v2_base/add-ons/citas/pata1.jpg" class="CToWUd" border="0">
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
         </div>
    </body>
</html>