{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
    Datos de la camapaña {{ campaign_name }}
{% endblock %}
{% block topTitle %}
    Datos de la camapaña {{ campaign_name }}
{% endblock %}
{% block content %}
    <div class="row">
        <form action="" class="needs-validation w-100" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fechaInicioInput">Fecha inicio</label>
                        <input type="date" class="form-control appform" id="fechaInicioInput" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fechaFinInput">Fecha fin</label>
                        <input type="date" class="form-control appform" id="fechaFinInput" required>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class="col">
                    <div class='form-group'>
                        <button type="button" class="btn btn-primary" id="reloadCharts">Cargar graficas</button>
                        <button type="button" class="btn btn-primary" id="downloadButton">Descargar respuestas</button>
                        <button type="button" class="btn btn-primary" id="downloadFailsButton">Descargar fallos</button>
                        <button type="button" class="btn btn-primary" id="prepareFailsButton">Volver a llamar fallidas</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" id="answerChartContainer">

    </div>


{% endblock %}
{% block javascript %}
    <script src='{% static "maingui/js/app/FormFunctions.js" %}'></script>
    <script src="{% static 'maingui/js/app/StandardCrud.js' %}"></script> 
    <script src="{% static 'maingui/vendor/bootsrap-select/bootstrap-select.min.js' %}"></script>
    
    <script>

        var id = {{ id }};
        var listing_url = "{% url 'listing_campaign' %}";
        var data_chart_campaign_url = "{% url 'data_chart_campaign' %}";
        var download_poll_answers_url = "{% url 'download_poll_answers' campaign_id=id start_date='abc' end_date='def' %}"
        var download_fails_polls_url = "{% url 'download_fails_polls' campaign_id=id start_date='abc' end_date='def' %}"
        var fail_prepare_polls_url = "{% url 'fail_prepare_polls' %}";

    </script>
    <script src="{% static 'campaigns/js/app/data.js' %}"></script>
{% endblock %}
