{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
    {{ action }} sede
{% endblock %}
{% block topTitle %}
    {{ action }} sede
{% endblock %}
{% block content %}
    <div class="row">
        <form action="" class="needs-validation w-100" novalidate>
            <div class="row">
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label for='nameInput'>Nombre del sede</label>
                        <input type='text' class='form-control appform' id='nameInput'>
                        <div class='valid-feedback' id='nameValid'>Correcto.</div>
                        <div class='invalid-feedback' id = 'nameInvalid'>Debe ingresar un nombre valido.</div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <label for='addressInput'>Dirección</label>
                        <input type='text' class='form-control appform' id='addressInput'>
                        <div class='valid-feedback' id='addressValid'>Correcto.</div>
                        <div class='invalid-feedback' id = 'addressInvalid'>Debe ingresar una dirección valido.</div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="checkboxgroup">Estado</label>
                    <div class="custom-control custom-checkbox" id="checkboxgroup">
                        <input class="custom-control-input" type="checkbox" value="" id="activeInput">
                        <label class="custom-control-label" for="activeInput">Activo</label>
                        <div class="valid-feedback" id='activeValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'activeInvalid'>Please fill out this field.</div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class='modal fade' tabindex='-1' role='dialog' id='successModal'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='modalTitle'>Unos segundos por favor</h5>
                </div>
                <div class='modal-body'>
                    <div class='alert alert-success' role='alert' id='modalMessage'>
                        Guardado con exito!
                    </div>
                </div>
                <div class='modal-footer'>
                    Redirigiendo...
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script src='{% static "maingui/js/app/FormFunctions.js" %}'></script>
    <script src="{% static 'maingui/js/app/StandardCrud.js' %}"></script> 
    <script>
        $( document ).ready(function() {
            id = {{ id }};
            listing_url = "{% url 'listing_sede' %}";
            add_url = "{% url 'add_sede' %}";
            get_url = "{% url 'get_sede' sede_id=0 %}";
            replace_url = "{% url 'replace_sede' sede_id=0 %}";
            get_url = get_url.slice(0, -1);
            replace_url = replace_url.slice(0, -1);
        });
    </script>
    <script src="{% static 'sedes/js/app/form.js' %}"></script>
{% endblock %}
