{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
    {{ action }} perfil
{% endblock %}
{% block topTitle %}
    {{ action }} perfil
{% endblock %}
{% block content %}
    <div class="row">
        <form action="" class="needs-validation w-100" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombresInput">Nombres</label>
                        <input type="text" class="form-control appform" id="nombresInput" required>
                        <div class="valid-feedback" id='nombresValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'nombresInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="primer_apellidoInput">Primer apellido</label>
                        <input type="text" class="form-control appform" id="primer_apellidoInput" required>
                        <div class="valid-feedback" id='primer_apellidoValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'primer_apellidoInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="segundo_apellidoInput">Segundo apellido</label>
                        <input type="text" class="form-control appform" id="segundo_apellidoInput" required>
                        <div class="valid-feedback" id='segundo_apellidoValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'segundo_apellidoInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimientoInput">Fecha nacimiento</label>
                        <input type="date" class="form-control appform" id="fecha_nacimientoInput" required>
                        <div class="valid-feedback" id='fecha_nacimientoValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'fecha_nacimientoInvalid'>Please fill out this field.</div>
                    </div>
                    <div class='form-group'>
                        <label for='tipo_documentoInput'>Tipo documento</label>
                        <select class='form-control appform' id='tipo_documentoInput'>
                            <option value="CC">Cedula de ciudadania</option>
                        </select>
                        <div class="valid-feedback" id='tipo_documentoValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'tipo_documentoInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="identificacionInput">Identificación</label>
                        <input type="text" class="form-control appform" id="identificacionInput" required>
                        <div class="valid-feedback" id='identificacionValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'identificacionInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="telefonoInput">Teléfono</label>
                        <input type="text" class="form-control appform" id="telefonoInput" required>
                        <div class="valid-feedback" id='telefonoValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'telefonoInvalid'>Please fill out this field.</div>
                    </div>
                </div>
                    
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailInput">E-mail</label>
                        <input type="text" class="form-control appform" id="emailInput" required>
                        <div class="valid-feedback" id='emailValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'emailInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="direccionInput">Dirección</label>
                        <input type="text" class="form-control appform" id="direccionInput" required>
                        <div class="valid-feedback" id='direccionValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'direccionInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="departamentoInput">Departamento</label>
                        <input type="text" class="form-control appform" id="departamentoInput" required>
                        <div class="valid-feedback" id='departamentoValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'departamentoInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="barrioInput">Barrio</label>
                        <input type="text" class="form-control appform" id="barrioInput" required>
                        <div class="valid-feedback" id='barrioValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'barrioInvalid'>Please fill out this field.</div>
                    </div>
                    <div class="form-group">
                        <label for="municipioInput">Municipio</label>
                        <input type="text" class="form-control appform" id="municipioInput" required>
                        <div class="valid-feedback" id='municipioValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'municipioInvalid'>Please fill out this field.</div>
                    </div>
                    <div class='form-group'>
                        <label for='tipo_servicioInput'>Tipo de servicio</label>
                        <select class='form-control appform' id='tipo_servicioInput'>
                            <option value="Convenios">Convenios</option>
                        </select>
                        <div class="valid-feedback" id='tipo_servicioValid'>Valid.</div>
                        <div class="invalid-feedback" id = 'tipo_servicioInvalid'>Please fill out this field.</div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-6'>
                    <div class='form-group'>
                        <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class='modal fade' tabindex='-1' role='dialog' id='successModal'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='modalTitle'>Unos segundos por favor</h5>
                </div>
                <div class='modal-body'>
                    <div class='alert alert-success' role='alert' id='modalMessage'>
                        Guardado con exito!
                    </div>
                </div>
                <div class='modal-footer'>
                    Redirigiendo...
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}
    <script src='{% static "maingui/js/app/FormFunctions.js" %}'></script>
    <script src="{% static 'dashboard/js/app/form.js' %}"></script>
    <script>
        $( document ).ready(function() {
            id = {{ id }};
            add_url = "{% url 'add_datos' %}";
            get_url = "{% url 'get_datos' datos_id=0 %}";
            replace_url = "{% url 'replace_datos' datos_id=0 %}";
            get_url = get_url.slice(0, -1);
            replace_url = replace_url.slice(0, -1);

            if(id != 0){
                getData(id);
            }
        });
    </script>
{% endblock %}

