{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'maingui/favicon.ico' %}"/>
<!-- Custom fonts for this template-->
<link href="{% static 'maingui/vendor/fontawesome-free-5.14.0-web/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'maingui/css/nuito.css' %}" rel="stylesheet">
<link href="{% static 'maingui/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="{% static 'maingui/css/sb-admin-2.css' %}" rel="stylesheet">
<link href="{% static 'maingui/css/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'maingui/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'maingui/vendor/datatables/jquery.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'maingui/css/login-form.css' %}" rel="stylesheet">
<link href="{% static 'maingui/css/extra_datatable.css' %}" rel="stylesheet">
<link href="{% static 'maingui/vendor/datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet">