{% extends 'maingui/index.html' %}
{% load static %}
{% block title %}
    Error {{error}}
{% endblock %}

{% block topTitle %}

{% endblock %}
{% block content %}
<div class="row text-dark">
    <div class="col-md-12">
        <h1><span class="fas fa-fw fa-times text-danger"></span>Error {{error}}</h1>
        <p class="text-break font-weight-bold">{{ message }}</p>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'maingui/js/app/FormFunctions.js' %}"></script>
<script src="{% static 'maingui/vendor/bootsrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'users/js/app/form.js' %}"></script>

<script>

</script>
{% endblock %}
