{% load static %}
<script src="{% static 'maingui/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'maingui/vendor/jquery/popper.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'maingui/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'maingui/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'maingui/js/bootstrap.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'maingui/vendor/chart.js/Chart.bundle.js' %}"></script>
<script src="{% static 'maingui/vendor/chart.js/utils.js' %}"></script>

<script>
    var singleOperationRestriction = false;
</script>