<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Pagína Principal{% endblock %}</title>
    {% load static %}
    {% include "./cssload.html" %}
    {% include "./jscriptload.html" %}
    <!-- Bootstrap core JavaScript-->

</head>

<body class="bg-gradient-primary">

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                        <img class="mb-4" src="{% static 'maingui/img/letra_m.svg' %}" alt="" width="72" height="72">
                    </div>
                    <form class="user">
                      <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="Ingrese su Email...">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Contraseña">
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="inputRemember">
                          <label class="custom-control-label" for="customCheck">Recuerdame</label>
                        </div>
                      </div>
                      <a class="btn btn-primary btn-user btn-block text-white" id="ingresar">
                        Login
                      </a>
                      <hr>
                    </form>
                    <div class="text-center">
                      <a class="small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <div class="spinner-border invisible" role="status" id="spiner">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p class="mt-5 mb-3 text-muted">© 2019-{{year}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  
  </body>
<!--
<body id="page-top" class="text-center">
        <form class="form-signin">
            <img class="mb-4" src="{% static 'maingui/img/letra_m.svg' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Por favor ingrese sus datos</h1>
            <label for="inputEmail" class="sr-only">Correo electrónico</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Correo electrónico" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
            <div class="checkbox mb-3">
            <label>
                <input id="inputRemember" type="checkbox" value="remember-me"> Recuerdame
            </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="ingresar">Ingresar</button>
            <br>
            <div class="spinner-border d-none" role="status" id="spiner">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="mt-5 mb-3 text-muted">© 2019-{{year}}</p>
        </form>
    </div>
</body>
-->
<script src='{% static "maingui/js/app/FormFunctions.js" %}'></script>
<script src="{% static 'maingui/js/app/login-form.js' %}"></script>
<script src='{% static "maingui/js/app/SoftNotification.js" %}'></script>

<script>
    $( document ).ready(function() {
        login_url = "{% url 'login_user' %}";
        index_url = "{% url 'index' %}";
    });
</script>
</html>